<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="dk-academyConnectionString" connectionString="Data Source=TIME-IS-MONEY--\DARKKNIGHT;Initial Catalog=dk-academy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>